Import necessary libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

Download the heart dataset and assign it to a variable.

In [9]:
heart_data = pd.read_csv('C:/Users/emily/Desktop/Data_science/heart.csv')

What is the data type of each column?

In [12]:
heart_data.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

See the first ten entries.

In [14]:
heart_data.head(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
5,57,1,0,140,192,0,1,148,0,0.4,1,0,1,1
6,56,0,1,140,294,0,0,153,0,1.3,1,0,2,1
7,44,1,1,120,263,0,1,173,0,0.0,2,0,3,1
8,52,1,2,172,199,1,1,162,0,0.5,2,0,3,1
9,57,1,2,150,168,0,1,174,0,1.6,2,0,2,1

See the last ten entries.

In [15]:
heart_data.tail(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
293,67,1,2,152,212,0,0,150,0,0.8,1,0,3,0
294,44,1,0,120,169,0,1,144,1,2.8,0,0,1,0
295,63,1,0,140,187,0,0,144,1,4.0,2,2,3,0
296,63,0,0,124,197,0,1,136,1,0.0,1,0,2,0
297,59,1,0,164,176,1,0,90,0,1.0,1,2,1,0
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

Check the number of observations in the dataset.

In [16]:
heart_data.shape[0]

303

Check the number of columns in the dataset.

In [17]:
heart_data.shape[1]

14

Print the name of all the columns.

In [19]:
heart_data.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

Check how the dataset is indexed?

In [20]:
heart_data.index

RangeIndex(start=0, stop=303, step=1)

What is the data structure of the columns?

In [21]:
type(heart_data['age'])

pandas.core.series.Series

In [22]:
type(heart_data['sex'])

pandas.core.series.Series

Summarize the dataframe.

In [24]:
heart_data.describe

<bound method NDFrame.describe of      age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0     63    1   3       145   233    1        0      150      0      2.3
1     37    1   2       130   250    0        1      187      0      3.5
2     41    0   1       130   204    0        0      172      0      1.4
3     56    1   1       120   236    0        1      178      0      0.8
4     57    0   0       120   354    0        1      163      1      0.6
5     57    1   0       140   192    0        1      148      0      0.4
6     56    0   1       140   294    0        0      153      0      1.3
7     44    1   1       120   263    0        1      173      0      0.0
8     52    1   2       172   199    1        1      162      0      0.5
9     57    1   2       150   168    0        1      174      0      1.6
10    54    1   0       140   239    0        1      160      0      1.2
11    48    0   2       130   275    0        1      139      0      0.2
12    49    1   1       130   266    0        1      171      0      0.6
13    64    1   3       110   211    0        0      144      1      1.8
14    58    0   3       150   283    1        0      162      0      1.0
15    50    0   2       120   219    0        1      158      0      1.6
16    58    0   2       120   340    0        1      172      0      0.0
17    66    0   3       150   226    0        1      114      0      2.6
18    43    1   0       150   247    0        1      171      0      1.5
19    69    0   3       140   239    0        1      151      0      1.8
20    59    1   0       135   234    0        1      161      0      0.5
21    44    1   2       130   233    0        1      179      1      0.4
22    42    1   0       140   226    0        1      178      0      0.0
23    61    1   2       150   243    1        1      137      1      1.0
24    40    1   3       140   199    0        1      178      1      1.4
25    71    0   1       160   302    0        1      162      0      0.4
26    59    1   2       150   212    1        1      157      0      1.6
27    51    1   2       110   175    0        1      123      0      0.6
28    65    0   2       140   417    1        0      157      0      0.8
29    53    1   2       130   197    1        0      152      0      1.2
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
273   58    1   0       100   234    0        1      156      0      0.1
274   47    1   0       110   275    0        0      118      1      1.0
275   52    1   0       125   212    0        1      168      0      1.0
276   58    1   0       146   218    0        1      105      0      2.0
277   57    1   1       124   261    0        1      141      0      0.3
278   58    0   1       136   319    1        0      152      0      0.0
279   61    1   0       138   166    0        0      125      1      3.6
280   42    1   0       136   315    0        1      125      1      1.8
281   52    1   0       128   204    1        1      156      1      1.0
282   59    1   2       126   218    1        1      134      0      2.2
283   40    1   0       152   223    0        1      181      0      0.0
284   61    1   0       140   207    0        0      138      1      1.9
285   46    1   0       140   311    0        1      120      1      1.8
286   59    1   3       134   204    0        1      162      0      0.8
287   57    1   1       154   232    0        0      164      0      0.0
288   57    1   0       110   335    0        1      143      1      3.0
289   55    0   0       128   205    0        2      130      1      2.0
290   61    1   0       148   203    0        1      161      0      0.0
291   58    1   0       114   318    0        2      140      0      4.4
292   58    0   0       170   225    1        0      146      1      2.8
293   67    1   2       152   212    0        0      150      0      0.8
294   44    1   0       120   169    0        1      144      1      2.8
295   63    1   0       140   187    0        0      144      1      4.0
296   63    0   0       124   197    0        1      136      1      0.0
297   59    1   0       164   176    1        0       90      0      1.0
298   57    0   0       140   241    0        1      123      1      0.2
299   45    1   3       110   264    0        1      132      0      1.2
300   68    1   0       144   193    1        1      141      0      3.4
301   57    1   0       130   131    0        1      115      1      1.2
302   57    0   1       130   236    0        0      174      0      0.0

     slope  ca  thal  target
0        0   0     1       1
1        0   0     2       1
2        2   0     2       1
3        2   0     2       1
4        2   0     2       1
5        1   0     1       1
6        1   0     2       1
7        2   0     3       1
8        2   0     3       1
9        2   0     2       1
10       2   0     2       1
11       2   0     2       1
12       2   0     2       1
13       1   0     2       1
14       2   0     2       1
15       1   0     2       1
16       2   0     2       1
17       0   0     2       1
18       2   0     2       1
19       2   2     2       1
20       1   0     3       1
21       2   0     2       1
22       2   0     2       1
23       1   0     2       1
24       2   0     3       1
25       2   2     2       1
26       2   0     2       1
27       2   0     2       1
28       2   1     2       1
29       0   0     2       1
..     ...  ..   ...     ...
273      2   1     3       0
274      1   1     2       0
275      2   2     3       0
276      1   1     3       0
277      2   0     3       0
278      2   2     2       0
279      1   1     2       0
280      1   0     1       0
281      1   0     0       0
282      1   1     1       0
283      2   0     3       0
284      2   1     3       0
285      1   2     3       0
286      2   2     2       0
287      2   1     2       0
288      1   1     3       0
289      1   1     3       0
290      2   1     3       0
291      0   3     1       0
292      1   2     1       0
293      1   0     3       0
294      0   0     1       0
295      2   2     3       0
296      1   0     2       0
297      1   2     1       0
298      1   0     3       0
299      1   0     3       0
300      1   2     3       0
301      1   1     3       0
302      1   1     2       0

[303 rows x 14 columns]>

What is the mean age of surveyed?

In [25]:
round(heart_data.age.mean())

54

What is the age with least occurrence?

In [26]:
heart_data.age.value_counts().tail()

37    2
77    1
76    1
74    1
29    1
Name: age, dtype: int64

Which sex is more popular in this dataset?

In [42]:
heart_data['sex'].value_counts()

1    207
0     96
Name: sex, dtype: int64